head
	meta(charset='utf-8')
	meta(name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1, minimal-ui')
	meta(http-equiv='X-UA-Compatible' content='IE=edge')
	meta(name='application-name' content=pageTitle || '')
	meta(name='msapplication-tooltip' content=pageDescription || '')

	block head
	title= pageTitle || ''
	meta(name='description' content=pageDescription || '')
	meta(name='keywords' content=pageKeywords || '')
	meta(name='yandex-verification' content="e44ab0519a7cea56")

	link(href='https://fonts.googleapis.com/css?family=Fira+Sans' rel='stylesheet')
	link(href='assets/styles/app.min.css' rel='stylesheet')
	script.
		! function(e, t, a) {
		(t[a] = t[a] || []).push(function() {
		try {
		t.yaCounter42259199 = new Ya.Metrika({
		id: 42259199,
		clickmap: !0,
		trackLinks: !0,
		accurateTrackBounce: !0,
		webvisor: !0
		})
		} catch (e) {}
		});
		var c = e.getElementsByTagName("script")[0],
		n = e.createElement("script"),
		r = function() {
		c.parentNode.insertBefore(n, c)
		};
		n.type = "text/javascript", n.async = !0, n.src = "https://mc.yandex.ru/metrika/watch.js", "[object Opera]" == t.opera ? e.addEventListener("DOMContentLoaded", r, !1) : r()
		}(document, window, "yandex_metrika_callbacks")
	noscript
		div
			img(alt='', src='https://mc.yandex.ru/watch/42259199', style='position:absolute;left:-9999px')
